.main-ul{
    width: 400px;
    left: calc((100% - 470px) / 2);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.HTML,
.CSS,
.JavaScript{
    background-color: #eee;
    list-style: none;
    padding: 10px;
    margin: 15px;
}

.HTML li{
    padding: 5px;
    border: 3px solid #eee;
    background-color: white;
    list-style-type: decimal;
}

.CSS li{
    padding: 5px;
    border: 3px solid #eee;
    background-color: white;
    list-style-type: upper-roman;
}

.JavaScript ul{
    position: relative;
    left: calc((100% - 430px) / 2);
    width: 100%;
}

.JavaScript li{
    padding: 5px;
    border: 3px solid #eee;
    background-color: white;
    list-style-position: inside;
}