div{
    width: 400px;
    padding-left: 5px;
}

.Shape1{
    border-left: 3px solid rgb(217, 47, 129);
}

.Shape2{
    border-left: 3px solid red;
    visibility: hidden;
}

.Shape3{
    border-left: 3px solid rgb(11, 133, 102);
}
